/* styles for the header part of the website and its inner elements */

header {
  justify-content: space-between;
  padding: 0.62rem 2%;
  box-shadow: 0 0 0.62rem rgba(0, 0, 0, 0.2);
  background: #fff;
  position: static;
  top: 0;
  z-index: 10;
}

/* styles for the left side of the header */
.headerLeft .menuIcon {
  width: 1.4rem;
  margin-right: 1.56rem;
}

.headerLeft .logoIcon {
  width: 8.12rem;
}

/* styles for the right side of the header */
header .headerRight img {
  width: 1.56rem;
  margin-right: 1.56rem;
}

/* styles for the user profile picture */
.headerRight .userIcon {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  margin-right: 0;
}